.App {
  font-family: sans-serif;
}
.pwdItem {
  display: flex;
  justify-content: space-around;
  margin: 10;
}

.flexItem {
  margin-right: 15px;
}

.editIcon {
  color: #1976d2;
  cursor: pointer;
}
.delIcon {
  color: red;
  cursor: pointer;
}
